:root {
  --main-font-family: 'jsMath-cmr10', sans-serif;
}

.nav-menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  background: #000;
  border-bottom: 1px solid;
  .logo-img {
    width: 20%;
  }
}
.contact-us a {
  font-family:  'Onest';
  font-size: 14px;
  font-weight: 700;
 
  color: #979595;
  border: 1px solid;
  cursor: pointer;
  text-transform: uppercase;
  padding: 5px 15px;
  &:hover {
    color: lighten(#979595, 30%);
  }
  &:focus {
    color: #979595;
  }
}


// modal window
.modal-content {
  border-radius: 8px;
  padding: 1rem;
  font-family:  'Onest';
  background: rgba(255, 255, 255, .9);
}

.modal-header {
  border-bottom: none;
}

.modal-title {
  color: @main-color;
  font-weight: bold;
}

.btn-close {
  background: transparent;
}

.form-label {
  font-weight: bold;
  color: #333;
}

.form-control {
  border-radius: 5px;
}

.btn-primary {
  background-color: @main-color;
  border: none;
}

.btn-primary:hover {
  background-color: darken(@main-color, 10%);;
}
.close-icon {
  position: absolute;
  top: -12%;//10px;
  right: -2%;//10px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.close-icon img {
  width: 20px;
  height: 20px;
  transition: transform 0.2s ease;
}

.close-icon img:hover {
  transform: scale(1.2);
}
