:root {
  --main-font-family: 'jsMath-cmr10', sans-serif;
}

.nav-menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  background: #000;
  border-bottom: 1px solid;
  .logo-img {
    width: 20%;
  }
}
.contact-us a {
  font-family:  'Onest';
  font-size: 14px;
  font-weight: 700;
 
  color: #979595;
  border: 1px solid;
  cursor: pointer;
  text-transform: uppercase;
  padding: 5px 15px;
  &:hover {
    color: lighten(#979595, 30%);
  }
}