

:root {
  --main-font-family: 'jsMath-cmr10';
}
/* General Section Styling */
.hero-section {
  font-family: 'jsMath-cmr10';
  position: relative;
  background-color: black;
  color: white;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  line-height: 1;
}

.hero-title {
  //font-family: 'jsMath-cmr10';
  font-size: 8.5rem;
  background: linear-gradient(to right, #fff, @main-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1;
}

.hero-subtitle {
  //font-family: 'jsMath-cmr10';
  font-size: 4.5rem;
  font-weight: 500;
  background: linear-gradient(to right, #fff, @main-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Phoenix Background */
.phoenix {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.4;
  max-width: 50%;
  z-index: 0;
}

/* Line Decorations */
.hero-svg {
  position: absolute;
}
.phoenix::before, .phoenix::after { 
  content: '';
    width: 100%;
    border-bottom: solid 1px @main-color;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 999;
}

.hero-svg-left-top {
  top: 15%;
  left: 10%;
  width: 170px;
  height: auto;
}

.hero-svg-right-top {
  top: 15%;
  right: 10%;
  width: 170px;
  height: auto;
}

.hero-svg-left-bottom {
  bottom: 15%;
  left: 10%;
  width: 170px;
  height: auto;
}

.hero-svg-right-bottom {
  bottom: 15%;
  right: 10%;
  width: 170px;
  height: auto;
}

/* Text Labels */
.label {
  position: absolute;
  font-size: 2.5rem;
  //font-weight: bold;
  color: white;
  //font-family: --main-font-family;
}

.collect-label {
  top: 12%;
  left: 9%;
  transform: translate(-50%, -50%);
}

.analyze-label {
  top: 12%;
  right: 12%;
  transform: translate(50%, -50%);
}

.feed-label {
  bottom: 12%;
  left: 6%;
  transform: translate(-50%, 50%);
}

.research-label {
  bottom: 12%;
  right: 12%;
  transform: translate(50%, 50%);
}
//
/* General Section Styling */
.hero {
  text-align: center;
  background-color: black;
  padding: 50px;
  color: white;
  position: relative;
}

/* Main Heading Styling */
.hero h1 {
  font-size: 5rem;
  font-weight: bold;
  margin: 0;
  letter-spacing: 5px;
  position: relative;
  text-transform: uppercase;
}
.cyber {
  color: white;
  text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.8);
}
.sance {
  color: @main-color;
  //text-shadow: 2px 2px 8px rgba(255, 0, 0, 0.8);
}

