<footer class="footer" id="footer">
    <div class="footer-container">
      <!-- Quick Links -->
      <div class="footer-links">
        <h4>Quick Links</h4>
        <ul>
          <li><a href="#services">Our Services</a></li>
          <li><a href="#calltoaction">Why Choose Us</a></li>
          <li><a href="#contactus">Contact Us</a></li>
          <li><a href="#terms">Terms of Service</a></li>
          <li><a href="#aboutus">About Us</a></li>
        </ul>
      </div>
      <!-- Logo and Company Info -->
      <a class="footer-brand" href="/">
        <!-- <h3>Cybersance</h3> -->
        <img src="images/cybersance_logo_screen.png" alt="cybersance">
        <p>Your trusted partner in cybersecurity.</p>
      </a>
      <!-- Social Media -->
      <div class="footer-social">
        <h4>Follow Us</h4>
        <div class="social-icons">
          <a href="#"><img src="images/social/facebook-messenger-svgrepo-com.svg" alt="Facebook"></a>
          <a href="#"><img src="images/social/twitter-svgrepo-com (1).svg" alt="Twitter"></a>
          <a href="#"><img src="images/social/linkedin-svgrepo-com.svg" alt="LinkedIn"></a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2024 Cybersance. All rights reserved.</p>
    </div>
  </footer>