<header>
    <nav class="navbar navbar-expand-lg nav">
      <div class="container-fluid">
        <!-- Logo -->
        <a class="navbar-brand nav-logo" href="/" aria-label="Go to Home Page">
          <img class="logo-img" src="images/cybersance_logo_screen.png" alt="logo">
        </a>

        <!-- Hamburger Menu for Mobile -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navigation Links -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item contact-us">
              <!-- Trigger Modal -->
              <a class="nav-link" href="#" type="button" data-bs-toggle="modal" data-bs-target="#contactModal"
                aria-label="Contact Us Section">
                Contact Us
              </a>
            </li>

          </ul>
        </div>
      </div>
    </nav>
  </header>